<div class="container1">
    <h1> Mision </h1>
</div>

<div class="container">
<br>
<p>Somos Inmobiliaria Hogar Colombia una empresa inmobiliaria dedicada a la asesoría
    personalizada, venta y alquiler de inmuebles en Colombia con el fin de
    brindar un servicio de calidad con personal capacitado que permitan
    solucionar a través de internet una buena toma de decisiones con respecto
    al ámbito inmobiliario, aportando un proceso de administración y
    rentabilidad de acuerdo a nuestros principios y compromiso.</p>
</div>
<br>
<br>