.row {
    
    display: flex;
    align-items: left;
    justify-content:baseline;
}
.valor{
    font-weight: bold;
}
.col s3 {
    margin: 50px;
}
img.foto{
    width: 200px;
    height: 100px;
}
h2{
    text-align: center;
}