.container1{
    
    margin: 100 95 50px;
    text-align: center;
    font-family: sans-serif;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 24px;
    font-weight: 1200;
    color: #fbfafc;
    background: #889ccf;
    border-radius: 73px 73px 75px 75px;
    -moz-border-radius: 73px 73px 73px 73px;
    -webkit-border-radius: 73px 73px 73px 73x;
    border: 10px solid #fffdfdcd;

    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.container{
    box-align: right;
    font-family: sans-serif;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #faf9fb;
    background: #889ccf;
    margin: 100 5 50px;
    overflow: hidden;
    padding: 1pc 1pc 1pc 1pc;
    text-align: center;
    -webkit-box-shadow: 38px 31px 11px 12px rgba(0,0,0,1);
    -moz-box-shadow: 38px 31px 11px 12px rgba(0,0,0,1);
    box-shadow: 38px 31px 11px 12px rgba(0,0,0,1);
    border-radius: 73px 73px 0px 0px;
    -moz-border-radius: 73px 73px 0px 0px;
    -webkit-border-radius: 73px 73px 0px 0x;
    border: 10px solid #fffdfdcd;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}